server:
  port: 8081
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

spring:
  datasource:
    url: jdbc:sqlserver://localhost:1433;databaseName=elearning;encrypt=false;trustServerCertificate=true;instanceName=SQLEXPRESS;sendStringParametersAsUnicode=true
    username: webmath_user
    password: password123
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
  http:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServerDialect
        format_sql: true
    open-in-view: false


  flyway:
    enabled: false

# Cho phép FE Next.js gọi API
cors:
  origins: http://localhost:3000